@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');

body{
	  background: #d5d5d5;
	  padding: 0px;
	  margin: 0px;
	  font-family: 'Roboto', sans-serif;
	  font-weight: 300;
}

.menu{
	  background: #3366ff;
	  padding: 20px;
	  text-align: left;
	  color: #fff;
	  font-weight: bold;
}

.questionario{
	  position: absolute;
	  transform: translateX(-50%);
	  left: 50%;
	  width: 900px;
}

.questionario-bloco{
    background: #fff;
    margin-top: 15px;
    border: 4px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

.questionario-grupo{
    padding: 15px 30px;
    color: #333;
    background: #f2f2f2;
    border-bottom: 1px solid #dfdfdf;
}

.questionario-numero-questao{
    font-size: 20px;
    font-weight: 400;
}

.questionario-texto-questao{
	  font-size: 20px;
	  font-weight: 400;
}

.questionario-item{
    padding: 20px 30px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.questionario-item:hover{
    background: #f2f2f2;
}

.questionario-item:active{
    background: #f5f5f5;
}

.questionario-opcao{
    display: grid;
    grid-template-columns: 30px 25px auto 20px;
}

.questionario-opcao-letra{
  
    
}

.questionario-opcao-radio{

}

.questionario-opcao-texto{

}

.questionario-opcao-resposta{
    font-weight: bold;
}

.questionario-submit{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding: 25px 40px;
    font-weight: bold;
    font-size: 20px;
    background: #3366ff;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: 0px 0px 0px;
    cursor: pointer;
    border-radius: 3px;
}

.questionario-submit:hover{
   background: #1a53ff;
}

.questionario-submit:active{
   background: #3366ff;
}
